body {
    background-color: pink;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

.container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.button {
    display: inline-block;
    background-color: #ff4081;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 60px; /* Match grid column size */
    text-align: center;
}

.button:hover {
    background-color: #e03565;
}

.yes {
    background-color: #4CAF50; /* Different color for "Yes" button */
}

.food-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-gap: 10px; /* Space between items */
    padding: 10px;
    max-width: 600px; /* Adjust based on your preference */
    margin: auto;
}

.food-item {
    width: 100%; /* Adjust the width to fit the grid's column size */
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.food-item img {
    width: 100%;
    height: auto; /* Adjust height to maintain aspect ratio */
    object-fit: cover;
}

.food-item:hover img {
    transform: scale(1.1);
}