<!DOCTYPE html>
<html>
<head>
    <title>Be My Valentine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Happy Valentine's Day!</h1>
    <p>Dear Tiny Donut,</p>
    <p>Will you be my Valentine?</p>
    <div class="grid">
        <a href="/no/1" class="button">No</a>
        <a href="/no/2" class="button">No</a>
        <a href="/no/3" class="button">No</a>
        <a href="/no/4" class="button">No</a>
        <a href="/yes" class="button yes">Yes</a>
        <a href="/no/5" class="button">No</a>
        <a href="/no/6" class="button">No</a>
        <a href="/no/7" class="button">No</a>
        <a href="/no/8" class="button">No</a>
    </div>
</div>
</body>
</html>